body {
    background-color: #d3b1f3;
    font-family: "Roboto Condensed", sans-serif;
}

main{
    margin: 0 auto;
    max-width: 500px;
}

section{
    margin-top: 30px;
}

form, .input-container{
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 20px;
}

.input-container input.touched:invalid, textarea.touched:invalid {
  border-color: #e74c3c; /* Light red for invalid built-in states */
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input, textarea{
    border: none;
    border: 2px inset #7d00e4;
    border-radius: 5px;
}

.error-message {
  display: block;
  color: #e74c3c;
  font-size: 0.9em;
  margin-top: 5px;
  min-height: 1em;
}

form button{
    border: none;
    color: #ffffff;
    font-weight: bolder;
    border: 2px outset #020103;
    border-radius: 5px;
    background-color: #7d00e4 ;
    align-self: center;
    padding: 10px 20px;
}

form button:hover{
    color: #7d00e4;
    border: 2px solid #7d00e4 ;
    background-color: #ffffff ;
}

.posts{
    margin: 0 auto;
    display:flex;
    flex-direction: column;
}

#posts-container{
    display:flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.post-card{
    list-style: none;
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid rgba(70, 0, 130, 0.12);
    box-shadow: 0 4px 14px rgba(70, 0, 130, 0.12);
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    padding: 17px 19px;
}

.post-card:hover{
    box-shadow: 0 8px 22px rgba(70, 0, 130, 0.18);
    transform: translate(-2px);
}

.post-title::after{/*accent bar*/
    content: "";
    background: #7d00e4;
    width: 45px;
    height: 5px;
    display: block;
    border-radius: 2px;
    margin-top: 5px;
}

.post-btns-container{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.post-btn{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn{
    background: rgba(125, 0, 228, 0.08);
    color:#7d00e4;
    border-color: #7d00e4;
}

.delete-btn{
    background: #c81e2d;
    color: #ffffff;
    border-color: #c81e2d;
}

.no-msg{
    display: none;
}

dialog {
    background-color: #ffffff;
    border: 2px solid #7d00e4;;
    border-radius: 12px;
    padding: 24px;
    width:400px;
    box-shadow:
        0 10px 30px rgba(125, 0, 228, 0.25),
        0 0 0 6px rgba(125, 0, 228, 0.08);
}

dialog label{
    display: block;
    margin: 12px 0 6px;
    font-weight: bold;
}

dialog textarea {
  min-height: 180px;
  resize: vertical;
}

dialog button {
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 100px;
}